doctype html

html(charset="utf8")
  head
    link(rel="stylesheet", href="css/material.min.css")
    link(rel="stylesheet", href="css/dialog-polyfill.css")
    link(rel="stylesheet", href="css/icon.css")

    script(defer, src="js/material.min.js")
    script(src="js/dialog-polyfill.js")
    script(defer, src="js/anim.js")
    script(src="js/gui.js")
    script(src="js/location.js")

    title LocInterface

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title Loc-In, interface para API REST
          .mdl-layout-spacer
          nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link(href="#", data-open="search") Search
            a.mdl-navigation__link(href="#", data-open="register") Register
      .mdl-layout__drawer.mdl-layout--small-screen-only
        nav.mdl-navigation
          a.mdl-navigation__link(href="#", data-open="search") Search
          a.mdl-navigation__link(href="#", data-open="register") Register
      main.mdl-layout__content
        canvas#coolAnimation

    dialog.mdl-dialog#search
      h4.mdl-dialog__title Search people on the system
      .mdl-dialog__content
        form(action="#")
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="text")#searchfor
            label.mdl-textfield__label(for="searchfor") Name:
      .mdl-dialog__actions.mdl-dialog__actions--full-width
        button.mdl-button Go
        button.mdl-button.close Cancel

    dialog.mdl-dialog#register
      h4.mdl-dialog__title Register yourself to the system
      .mdl-dialog__content
        form(action="#")
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="text")#name
            label.mdl-textfield__label(for="name") Name:
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="email")#mail
            label.mdl-textfield__label(for="mail") E-mail:
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input.mdl-textfield__input(type="text")#phone
            label.mdl-textfield__label(for="phone") Phone number:
      .mdl-dialog__actions.mdl-dialog__actions--full-width
        button.mdl-button Save
        button.mdl-button.close Cancel

    .mdl-js-snackbar.mdl-snackbar
      .mdl-snackbar__text
      button.mdl-snackbar__action
